@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}/*去除空隙*/
li{list-style:none;}/*去除所有的列表符号*/
a{text-decoration:none;}/*去除a下划线*/
#header{width:999px;height:100px;margin:0 auto;}
#header .logo{float:left;margin:41px 0 0 21px;}
#header .search{float:right;width:225px;background:#f1f1f1;border:1px solid #e5e5e5;margin:39px 19px 0 0;}
#header .search .txt{float:left;border:0;background:none;height:26px;text-indent:14px;width:195px;}
#header .search .sub{float:right;border:0;width:30px;height:26px;background:url(../images/search.png) no-repeat center;}
#nav{width:999px;height:59px;background:#323232;margin:0 auto;}
#nav ul{height:59px;padding-left:27px;}
#nav ul li{float:left;width:119px;height:59px;border-left:1px solid #4a4a4a;text-align:center;}
#nav ul li.te{border:0;}
#nav ul li a{font:14px/59px "";color:#fff;}
#banner{width:999px;height:463px;margin:0 auto;}
#main {width:999px;height:546px;margin:0 auto;}
#main .main-t{height:241px;background:pink;}
#main .main-t h3{font:18px/62px "";color:#202020;margin-top:15px;}
#main .main-t .main-t-l{float:left;width:451px;background:#fff;padding:0 28px 0 21px;height:241px;}
#main .main-t .main-t-l ul{}
#main .main-t .main-t-l ul li{font:12px/25px "";background:url(../images/dian.png) no-repeat left;height:25px;}
#main .main-t .main-t-l ul li a{float:left;color:#5d5d5d;text-indent:13px;
width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}
#main .main-t .main-t-l ul li span {float:right;color:#979797;}
#main .main-t .main-t-c{float:left;width:215px;height:241px;background:#f1f1f1;padding-left:25px;}
#main .main-t .main-t-c h4{font:12px/25px "";color:#575757;width:128px;margin-top:16px;}
#main .main-t .main-t-c p{font:12px/24px "";color:#939393;width:192px;margin-top:14px;}
#main .main-t .main-t-r{float:left;width:234px;height:241px;padding-left:25px;background:#fbfbfb url(../images/hua.png) no-repeat right bottom;}
#main .main-t .main-t-r p{font:12px/24px "";color:#575757;margin-top:-2px;width:180px;margin-bottom:50px;}
#main .main-c {height:52px;font:18px/52px "";color:#262626;margin:13px  0 0 23px;}
#main .main-b{height:240px;}
#main .main-b ul{height:240px;}
#main .main-b ul li{width:210px;height:240px;margin:0 20px;float:left;}
#main .main-b ul li.last{margin-right:0;}
#main .main-b ul li p{font:12px/25px "";color:#545454;}
#map{width:999px;height:250px;background:#e5e5e5;margin:0 auto;}
#map h3{font:16px/36px "";color:#656565;border-bottom:1px solid #c2c2c2;padding-left:13px;margin-top:21px;}
#map ul{overflow:hidden;margin-top:15px;}
#map ul li{float:left;width:150px;background:url(../images/jiantou.png)  no-repeat 6px;}
#map ul li a{color:#5f5f5f;font:12px/24px "";margin-left:18px;}
#map .map-l {float:left;width:452px;height:250px;margin-left:20px;}
#map .map-c{float:left;width:152px;height:250px;margin:0 50px;}
#map .map-r{float:left;width:256px;height:250px;background:url(../images/ji.png) no-repeat 31px 73px;}
#footer{width:999px;height:8lpx;margin:0 auto;font:12px/60px "";color:#818181;}
#footer .footer-l{float:left;margin-left:22px;}
#footer .footer-l a{color:#818181;}
#footer .footer-l span{margin:0 2px;}
#footer .footer-r{float:right;margin-right:18px;}
#footer .footer-r img{vertical-align:middle;}


